*{
      font-family: Rubik;
}
a{
      text-decoration: none;
      color: white;
}
/*---------------------------------- Header------------------------- */

 header {
      background-color: rgb(192, 57, 43);
      padding: 20px;
 }
 nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
 }

.logo{
      width: 120px;
}
nav ul{
      list-style: none;
      display: flex;
}
nav li {
      margin-left: 20px;
}
nav li:first-child{
      margin-left: none;
}


/*---------------------------------- Hero------------------------- */

#hero {
      background-image: url("https://placehold.co/400");
      padding: 4rem 2rem;
      font-family: "Cabin Sketch";
      display: flex;
      flex-direction: column;
      align-items: center
;
}
h1{
      font-size: 70px;
      text-align: center;
}
#hero button {
      background-color: rgb(230, 126, 34);
      font-size:19px;
      border: none;
      border-radius: 14px;
      padding: 10px;
}
button:hover{
      cursor: pointer;
}

/*---------------------------------- Gallery------------------------- */
.gallery h2{
      font-family: "Cabin Sketch";
      text-align: center;
}
.gallery-grid{
      display: grid;
      grid-template-columns: repeat(3, 200px);
      gap:20px;
}
/*---------------------------------- Chefs------------------------- */

.slideshow-container{
      display: flex;
      justify-content: center;
}
.slide{
      width:fit-content;
}
.hidden{
      display:none
}
.next, .prev{
      font-size: 60px;
      color: grey;
      opacity: 0.8;
      position: relative;
      top:120px;
}
.next:hover, .prev:hover{
      cursor: pointer;
}
.prev{
      right:530px;
}
/*---------------------------------- Footer------------------------- */
footer{
      background-color: rgb(192, 57, 43);
      display: grid;
      grid-template-columns: repeat();
}
.footer-column{
      color: white;
}
/*---------------------------------- Menu------------------------- */
h2{
      text-align:center;
      font-family: "Cabin Sketch";
}
.menu-grid{
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap:10px;
}

.menu-item{
      background-color: #aab7b8;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 14px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

}
.pizza-img{
      width: 150px;
      border-radius: 10px;
}
.price{
      font-size: 20px;
      font-weight: bold;
}
/* Modal  */
.modal-container{
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap:10px;
      position: relative;
      bottom: 120px;
      left: 130px;

}
.pizza-modal{
      width: 50%;
      z-index: 99;
      border: 1px solid black;
      background-color: #2ecc71; 
      border-radius: 16px;     
}
.pizza-modal p {
      font-weight: 600;
      color: #d5dbdb;
}
.hidden{
      display: none;
}